
$primary-color: #0c2340;
$white-color: #fff;

.main-container {
    background-color: $primary-color;
    height: 100vh;
    position: relative;
    //overflow-y: scroll;
}
.signUpContainer {
    background-color: $primary-color;
}
.signup-container {
    background-color: $white-color;
    border-radius: 10px;
    height:80%;
    left: 49%;
    padding: 23px;
    position: absolute;
    text-align: left;
    top: 13%;
    transform: translate(-50%,0);
    width:55%;
    overflow-y: scroll;
    padding-top: 20px;
}
.form-field label{
    font-size: 17px;
    height:22%;
    outline: 0;
    padding: 9px;
    width: 35%;
    float: left;

    span {
        color: #f91228;
    }
}
.textarea{
    border: 1px solid #909090;
    border-radius: 10px;
    font-size: 17px;
    height:22%;
    outline: 0;
    padding: 9px;
    width: 100%;
}
.form-field input[type="text"] {
    border: 1px solid #909090;
    border-radius: 10px;
    font-size: 17px;
    height:22%;
    outline: 0;
    padding: 9px;
    width: 65%;
    display: inline-block;
}

.form-field select {
    border: 1px solid #909090;
    border-radius: 10px;
    font-size: 17px;
    height:22%;
    outline: 0;
    padding: 9px;
    width: 65%;
}
.form-field input[type="password"]  {
    border: 1px solid #909090;
    border-radius: 10px;
    font-size: 17px;
    height:22%;
    outline: 0;
    padding: 9px;
    width: 65%;
    display: inline-block;
}
.form-field input[type="tel"] {
    border: 1px solid #909090;
    border-radius: 10px;
    font-size: 17px;
    height:22%;
    outline: 0;
    padding: 9px;
    width: 65%;
}

.alert {
    text-align: center;
    background-color: transparent;
    border: 0 none;
}
.form-field input[type="button"] {
    background: $primary-color;
    border: 0 none;
    border-radius: 15px;
    color: $white-color;
    font-size: 17px;
    height:43px;
    outline: 0;
    width: 50%;
}