<div class="container-fluid mainContainer">
    <nav class="navbar navbar-dark header">
        <!-- <a class="navbar-brand" href="#">
          <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
        </a>  -->
        <a class="navbar-brand"><img src="../../assets/images/logo.jpg" width="100" height="60" alt=""></a>
        <ul class="navbar-nav navbar-expand-xl menu">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                            Ideas</a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Add</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="./admin" routerLinkActive="active" skipLocationChange>Portfolio</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="./investor" routerLinkActive="active" skipLocationChange>Link 2</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="./startUps" routerLinkActive="active" skipLocationChange>Contact</a>
            </li>
        </ul>
        <form class="form-inline" [formGroup]="myForm">
            <div class="btn-group dropleft">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User Info
        </button>
                <div class="dropdown-menu">
                    <div class="card" style="width: 18rem; border-style: none">
                        <div class="card-body">
                            <h5 class="card-title">Logged-in user name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">investor/admin/startup</h6>
                            <p class="card-text">User details if any</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>




<div class="card-columns" style="margin: 0.5rem">
    <div *ngFor="let idea of ideasData">
        <div class="card">
            <div class="card-header">{{idea.name}}</div>
            <div class="card-body">
                <h4 class="card-title">{{idea.idea}}</h4>
                <p class="card-text">{{idea.details}}</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#ideaDetails" (click)="knowMoreClick(idea)">Know More</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ideaDetails" tabindex="-1" role="dialog" aria-labelledby="ideaDetailsTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ideaDetailsTitle">{{ideaDetailsTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {{ideaDetailsData}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Like</button>
            </div>
        </div>
    </div>
</div>