$primary-color: #0c2340;
$white-color: #fff;

.container-fluid {
    padding: 0;
}
.header {
    background-color: $primary-color;
    padding-bottom: 0px;

    a {
        padding-top: 0px;
        padding-bottom: 10px;
    }
}
.menu {
    margin-top: 40px;

    .nav-item {
        margin-right: 70px;

        a {
            color: $white-color;
        }

        a:hover {
            color: #007bff !important;
        }
    }
}
.nav-item {
    .dropdown-menu {
        position: absolute;
        padding-top: 5px;
        padding-bottom: 0px;
        
        a {
            color: #000;
        }
    }
}