<div class="container-fluid">
    <div class="row" style="padding-top:10px">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Monthly Earnings</div>
                <div class="chartParent">
                    <ngx-charts-line-chart [results]=monthlyEarningsData [gradient]=true [xAxis]=true [yAxis]=true
                        class="chartPosition" [legend]=false [autoScale]=true
                        (select)="onSelect($event,'monthlyInvestment')">
                    </ngx-charts-line-chart>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Total</div>
                <div class="card-body chartParent">
                    <h6 style="font-size: xx-large">{{totalEarningsData.name}} :</h6>
                    <h5 style="font-size: xx-large">${{totalEarningsData.value}}</h5>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Earnings</div>
                <div class="chartParent" style="margin:0rem; padding: 0rem">
                    <ngx-charts-bar-vertical-2d [results]=earningsData [gradient]=true [xAxis]=true [yAxis]=true
                        [legend]=false class="chartPosition" [showXAxisLabel]=true [showXAxisLabel]=true
                        (select)="onSelect($event, 'gains')">
                    </ngx-charts-bar-vertical-2d>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 1rem; float: right; width: 100%; right: 0;">
        <span style="float:right; width: fit-content; padding-left: 20px">
            <div class="dropdown" style="right: 0">
                <!-- <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink"
                    *ngFor="let data of dropDownData">
                    <a class="dropdown-item" href="#">{{data.name}}</a>
                </div> -->
                <select class="form-control" (change)="onDropDownChange($event)">
                    <option *ngFor="let data of dropDownData" [value]="data.name">{{data.name}}</option>
                  </select>
            </div>
        </span>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Total Breakup</div>
                <div class="chartParent">
                    <ngx-charts-advanced-pie-chart [results]=companyBreakUpData [gradient]=true
                        (select)="onSelect($event,'totalBreakUp')"></ngx-charts-advanced-pie-chart>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Earnings</div>
                <div class="card-body chartParent">
                    <!-- <h6 style="font-size: xx-large">{{companyEarnings.name}} :</h6>
                    <h5 style="font-size: xx-large">${{companyEarnings.value}}</h5> -->
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Comapny Investment</div>
                <div class="chartParent">
                    <ngx-charts-bar-vertical [results]=comapanyInvestment [gradient]=true [xAxis]=true [yAxis]=true
                        [legend]=false class="chartPosition" [showXAxisLabel]=true [showXAxisLabel]=true
                        (select)="onSelect($event, 'investment')">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ideaDetails" tabindex="-1" role="dialog" aria-labelledby="ideaDetailsTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ideaDetailsTitle">{{ideaDetailsTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ideaDetailsData}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Like</button>
            </div>
        </div>
    </div>
</div>