<div class="main-container">
        <img class="bg-img" src="../../assets/images/bg.png" width="100%">
            <a class="db-logo"><img src="../../assets/images/logo.jpg" width="100" height="60" alt=""></a>
            <a class="app-logo"><img src="../../assets/images/app_logo.png" width="150" height="70" alt=""></a>
<!-- <div class="main-container"> -->
    <div class="signup-container">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" formFieldContainer>
            <div class="form-group form-field">
                    <label for="userName">Username<span>*</span></label>
                    <input id="userName" formControlName="userName" required name="userName" type="text"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                    <div *ngIf="submitted && f.userName.errors">
                        <div *ngIf="f.userName.errors.required">Username is required.</div>
                        <!-- <div *ngIf="f.userName.errors.email">Email not valid.</div> -->
                    </div>
            </div>
            <div class="form-group form-field">
                <label for="firstName">First Name<span>*</span></label>
                <input formControlName="firstName" required name="firstName" id="firstName" type="text"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <div *ngIf="submitted && f.firstName.errors">
                    <div *ngIf="f.firstName.errors.required">First Name is required.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="lastName">Last Name<span>*</span></label>
                <input id="lastName" required name="lastName" type="text" formControlName="lastName"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <div *ngIf="submitted && f.lastName.errors">
                    <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
                </div>
            </div>
            
            <div class="form-group form-field">
                <label for="mobileNumber">Mobile Number<span>*</span></label>
                <input id="mobileNumber" formControlName="mobileNumber" required name="mobileNumber" type="tel"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">
                <div *ngIf="submitted && f.mobileNumber.errors">
                    <div *ngIf="f.mobileNumber.errors.required">Mobile number is required.</div>
                    <div *ngIf="f.mobileNumber.errors?.minlength">Mobile number should be 10 digits long.</div>
                    <div *ngIf="f.mobileNumber.errors?.maxlength">Mobile number should be 10 digits long.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="password">Password<span>*</span></label>
                <input id="password" formControlName="password" required name="password" type="password"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is required.</div>
                    <div *ngIf="f.password.errors.minlength">Password must be minimum 6 characters long.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="confirmPassword">Confirm Password<span>*</span></label>
                <input id="confirmPassword" formControlName="confirmPassword" required name="confirmPassword"
                    type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <div *ngIf="submitted && f.confirmPassword.errors">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords do not match.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="userType">User Type<span>*</span></label>
                <select id="userType" class="form-control" formControlName="userType" [ngClass]="{ 'is-invalid': submitted && f.userType.errors }">
                    <option value="">Select</option>
                    <option value="INVESTOR">Investor</option>
                    <option value="IDEA_PITCHER">Idea Pitcher</option>
                    <option value="VIEWER">Viewer</option>
                </select>
            </div>
            <div class="form-group acceptTerms">
                <label for="acceptTerms" class="form-check-label"><input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="chkbox"/>Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors">Accept Ts & Cs is required.</div>
            </div>
            <div class="form-field" style="text-align: center;">
                <button type="submit" >Sign Up</button>
            </div>
        </form>
    </div>
</div>