<header>
    <nav class="navbar navbar-dark bg-dark nav">
        <a class="navbar-brand text-light">Sign Up here</a>
    </nav>
</header>
<div class="main-container">
    <div class="signup-container">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" formFieldContainer>
            <div class="form-group form-field">
                <label for="firstName">First Name*</label>
                <input formControlName="firstName" required name="firstName" id="firstName" type="text"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
                <div *ngIf="submitted && f.firstName.errors">
                    <div *ngIf="f.firstName.errors.required">First Name is required.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="lastName">Last Name*</label>
                <input id="lastName" required name="lastName" type="text" formControlName="lastName"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }">
                <div *ngIf="submitted && f.lastName.errors">
                    <div *ngIf="f.lastName.errors.required">Last Name is required.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="userName">User Name/Email ID*</label>
                <input id="userName" formControlName="userName" required name="userName" type="text"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
                <div *ngIf="submitted && f.userName.errors">
                    <div *ngIf="f.userName.errors.required">User Name is required.</div>
                    <div *ngIf="f.userName.errors.email">Email not valid.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="mobileNumber">Mobile number*</label>
                <input id="mobileNumber" formControlName="mobileNumber" required name="mobileNumber" type="tel"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">
                <div *ngIf="submitted && f.mobileNumber.errors">
                    <div *ngIf="f.mobileNumber.errors.required">Mobile number is required.</div>
                    <div *ngIf="f.mobileNumber.errors?.minlength">Mobile number should be 10 digits long.</div>
                    <div *ngIf="f.mobileNumber.errors?.maxlength">Mobile number should be 10 digits long.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="password">Password*</label>
                <input id="password" formControlName="password" required name="password" type="password"
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is required.</div>
                    <div *ngIf="f.password.errors.minlength">Password must be minimum 6 characters long.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="confirmPassword">Confirm Password*</label>
                <input id="confirmPassword" formControlName="confirmPassword" required name="confirmPassword"
                    type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                <div *ngIf="submitted && f.confirmPassword.errors">
                    <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords do not match.</div>
                </div>
            </div>
            <div class="form-group form-field">
                <label for="userType">User Type*</label>
                <select id="userType" class="form-control" formControlName="userType" [ngClass]="{ 'is-invalid': submitted && f.userType.errors }">
                    <option value="">Select</option>
                    <option value="Investor">Investor</option>
                    <option value="Idea Pitcher">Idea Pitcher</option>
                    <option value="Viewer">Viewer</option>
                </select>
            </div>
            <div class="form-group form-field">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors">Accept Ts & Cs is required</div>
            </div>
            <div class="form-field">
                <button type="submit" >Sign Up</button>
            </div>
        </form>
    </div>
</div>