<header>
    <nav class="navbar navbar-dark bg-dark nav">
        <a class="navbar-brand text-light">Sign Up here</a>
    </nav>
</header>
<div class="main-container">
    <div class="signin-container">
        <form>
            <div class = "form-group form-field">
                <label for = "firstName">First Name</label>
                <input required ngModel name="firstName" #firstName = "ngModel" id = "firstName" type="text" class="form-control" (change) = "log(firstName)">
                <div *ngIf="firstName.touched && !firstName.valid" >First Name is required.</div>
            </div>
            <div class = "form-group form-field">
                <label for = "lastName">Last Name</label>
                <input id = "lastName" required ngModel name="lastName" #lastName = "ngModel" type="text" class="form-control">
                <div *ngIf="lastName.touched && !lastName.valid" >Last Name is required.</div>
            </div>
            <div class = "form-group form-field">
                <label for = "userName">User Name/Email ID</label>
                <input id = "userName" required ngModel name="userName" #userName = "ngModel" type="text" class="form-control"   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div *ngIf="userName.touched && userName.errors?.required" >User Name is required.</div>
                    <div *ngIf = "userName.touched && userName.errors?.pattern">Email not valid.</div>
            </div>
            <div class = "form-group form-field">
                <label for = "mobileNumber">Mobile number</label>
                <input id = "mobileNumber" minlength = "10" maxlength = "10" required ngModel name="mobileNumber" #mobileNumber = "ngModel" (change) = "log(mobileNumber)" type="tel" class="form-control">
                <div *ngIf="mobileNumber.touched && mobileNumber.errors?.required" >Mobile number is required.</div>
                <div *ngIf="mobileNumber.touched && mobileNumber.errors?.minlength">Mobile number must be 10 digits long.</div>
                <div *ngIf="mobileNumber.touched && mobileNumber.errors?.maxlength">Mobile number must be 10 digits long.</div>            </div>
            <div class = "form-group form-field">
                <label for = "password">Password</label>
                <input id = "password" required ngModel name="password" minlength="6" #password = "ngModel" type="password" class="form-control">
                <div *ngIf="password.touched && password.errors?.required" >Password is required.</div>
                <div *ngIf="password.touched && password.errors?.minlength" >Password must be minimum 6 characters long.</div>
            </div>
            <div class = "form-group form-field">
                <label for = "confirmPassword">Confirm Password</label>
                <input id = "confirmPassword" required ngModel name="confirmPassword" #confirmPassword = "ngModel" type="password" class="form-control" pattern="{{password.value}}">
                <div *ngIf="confirmPassword.touched && confirmPassword.errors?.required" >Password is required.</div>
                <div *ngIf="confirmPassword.touched && confirmPassword.errors?.pattern" >Passwords do not match.</div>
            </div>
            <div class = "form-group form-field">
                <label for = "userType">User Type</label>
                <select id = "userType" class="form-control">
                    <option value="">Select</option>
                    <option value="Investor">Investor</option>
                    <option value="Idea Pitcher">Idea Pitcher</option>
                    <option value="Viewer">Viewer</option>
                </select>
            </div>
            <div class="form-field">
                <input type="button" name="signup" value="Sign Up"/>
            </div>
        </form>
    </div>
</div>