
$primary-color: #0c2340;
$white-color: #fff;

.main-container {
    background-color: $primary-color;
    height: 100vh;
    position: relative;
}
.signin-container {
    background-color: $white-color;
    border-radius: 10px;
    height:42%;
    left: 50%;
    padding: 40px;
    position: absolute;
    text-align: center;
    top:50%;
    transform: translate(-50%,-50%);
    width:35%;
}
.form-field input[type="text"] {
    border: 1px solid #909090;
    border-radius: 10px;
    font-size: 17px;
    height:43px;
    margin-bottom: 29px;
    outline: 0;
    padding: 9px;
    width: 100%;
}

.form-field input[type="button"] {
    background: $primary-color;
    border: 0 none;
    border-radius: 15px;
    color: $white-color;
    font-size: 20px;
    height:48px;
    outline: 0;
    width: 100%;
}