
$primary-color: #0c2340;
$white-color: #fff;

.header-container {
    background-color: $primary-color;
}
.main-container {
    // background-image: url('../../assets/images/new_bg.png');
    // background-repeat: no-repeat;
    // height: 100vh;
    // width: 100%;
    // position: relative;
}
.signin-container {
    background-color: $white-color;
    border-radius: 10px;
    float: right;
    height:auto;
    padding: 40px;
    position: absolute;
    right: 3%;
    text-align: center;
    top:30%;
    width:35%;
}
.form-field input[type="text"] {
    border: 1px solid #909090;
    border-radius: 10px;
    font-size: 17px;
    height:43px;
    margin-bottom: 29px;
    outline: 0;
    padding: 9px;
    width: 100%;
}

.form-field input[type="button"] {
    background: $primary-color;
    border: 0 none;
    border-radius: 15px;
    color: $white-color;
    font-size: 20px;
    height:48px;
    outline: 0;
    width: 100%;
}
.signUpLink {
    float: right;
    margin-top: 10px;
    color: #007bff;

    a {
        text-decoration: underline;
    }
}
.db-logo {
    margin-left: 18px;
    left:0;
    position: absolute;

    img {
        margin-top: 10px;
    }
}
.app-logo {
    float: right;
    margin-top: 10px;
    margin-right: 45px;
    right:0;
    position: absolute;
}
.bg-img {
    position: relative;
    height: 100vh;
}