<div class="main-container">
    <form [formGroup]="signInForm">
        <div class="signin-container" formFieldContainer>
            <span class="form-field">
                <input type="text" #username name="username" placeholder="Username" autocomplete="off" formControlName="username" required/>
                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                    <div *ngIf="username.errors.required">
                    Username is required.
                    </div>
                </div>
            </span>
            <span class="form-field">
                <input type="text" #password name="password" placeholder="Password" formControlName="password" required/>
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                    <div *ngIf="password.errors.required">
                    Password is required.
                    </div>
                </div>
            </span>
            <span class="form-field">
                <input type="button" name="signin" value="Sign In" (click)="authenticateUser(username.value, password.value)"/>
            </span>
        </div>
    </form>
</div>